* {
    padding: 0;
    height: 100%;
    
    margin: 0;
    box-sizing: border-box;
}

  .container {
    display: flex;
    min-height: 100%;
    max-width: 100%;
  }
  
  .ps,
  .xbox {
    position: relative;
    flex: 1;
  }

  .xbox img {
    width:130%;
    object-fit:cover;
    transition: all 0.5s;
    
  }
  .ps img {
    width:100%;
    object-fit:cover;
    transition: all 0.5s;
    
  }

  .ps:hover img {
    filter: brightness(50%);
    width: 130%;
  }
  
  .xbox:hover img {
    filter: brightness(50%);
    width: 100%;
  }

  .botao-xbox{
    height: 3rem;
    width: 25rem;
    font-weight: bold;
    position: fixed;
    margin: 20% 15%;
    align-items: center;
    background: rgba( 0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid green;
    transition: all 1s;
    color: rgb(255, 255, 255);
    z-index: 1000;
    cursor: pointer;
    font-size: 18px;
    
  }

  .botao-xbox:hover{
    background: rgba(39, 56, 39, 0.6);
    transform:rotateY(360deg)
  }

  .botao-ps{
    height: 3rem;
    width: 25rem;
    font-weight: bold;
    position: fixed;
    margin: 20% 15%;
    align-items: center;
    background: rgba( 0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgb(79, 122, 241);
    transition: all 1s;
    color: rgb(255, 255, 255);;
    z-index: 1000;
    cursor: pointer;
    font-size: 18px;
    
  }

  .botao-ps:hover{
    background: rgba(6, 101, 226, 0.6);
    transform:rotateY(360deg)
  }
