* {
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.ps,
.xbox {
  position: relative;
  flex: 1;
  transition: all 1s;
}

.ps:hover, .xbox:hover {
  position: relative;
  flex: 3;
}

img{
  filter: brightness(50%);
}

.xbox,
.ps img {
  width: 100%;
  object-fit: cover;
}

.ps:hover img, .xbox:hover img {
  filter: brightness(100%);
}

.botao {
  height: 3rem;
  width: 25%;
  font-weight: bold;
  position: absolute;
  margin: 6% 0 0 30%;
  align-items: center;
  border-radius: 3px;
  transition: all 1s;
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
  font-size: 18px;
}

.b-x{
  border: 2px solid green;
  background: rgba(0, 0, 0, 0.2);
}

.b-p{
  border: 2px solid rgb(79, 122, 241);
  background: rgba(0, 0, 0, 0.2);
}

.b-x:hover {
  background: rgba(39, 56, 39, 0.6);
}

.b-p:hover {
  background: rgba(6, 101, 226, 0.6);
}

